{% extends "beers_alt/base.html" %}

{% block heading %}All Drinkers{% endblock %}

{% block content %}
<p>Click on drinker below to view more information:
<ul>
{% for drinker in drinkers %}
    <li><a href="{% url 'beers_alt.views.drinker' drinker_name=drinker.name %}">{{drinker.name}}</a></li>
{% endfor %}
</ul>
{{drinkers.count}} drinker{{drinkers|pluralize}} found in the database.
</p>
<p>Registered Users:
<ul>
{% for registered_user in registered_users %}
    <li><a href="{% url 'beers_alt.views.registered_user' registered_username=registered_user.username %}">{{registered_user.username}}</a></li>
{% endfor %}
</ul>
{{registered_users.count}} registered user{{users|pluralize}} found in the database.
</p>
{% endblock %}
