<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style>
      p.name {
        font-variant: small-caps;
      }
    </style>
  </head>
  <head>
    <title>CrowdCon</title>
    <meta name="description" content="A sample Django website for db-beers"/>
    <meta name="keywords" content="django, db-beers"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="{{STATIC_URL}}beers_alt/css/style.css" type="text/css" media="screen"/>
    {% block script %}{% endblock %}
  </head>
  <body>
    <a href="/beers_alt/"><img src="{{STATIC_URL}}beers_alt/img/title.png" height="50" width="230" style="float:left"/>  </a>
    
    {% if user.is_authenticated %}
      <p class="name" style="text-align:right"> <a href="/beers_alt/home_page/user_home" style="color:#ff6666">
         {% for auth in social_auth.associated %}
           {{auth.user}} ({{auth.provider}}){% if forloop.last %}.{% else %}, {% endif %}
         {% empty %}
           {{user}}
         {% endfor %}
         </a>
      </p>
    {% else %}
      <pre>
      </pre>
    {% endif %}
    {% block login %}
      {% if not user.is_authenticated %}
        <p><a href="{% url 'beers_alt.views.login' %}?next={{request.get_full_path}}" style="float:right">Login </a></p>
      {% else %}
        <p><a href="{% url 'beers_alt.views.logout' %}?next={{request.get_full_path}}" style="float:right">Logout</a></p>
      {% endif %}
    <pre>
    </pre>
    <hr/>
    {% endblock %}

    <h2 id="heading">
    {% block heading %}{% endblock %}</h2>
    
    <div id="content">{% block content %}{% endblock %}</div>

  </body>
</html>
