<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>CrowdCon</title>
    <meta name="description" content="A sample Django website for db-beers"/>
    <meta name="keywords" content="django, db-beers"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="{{STATIC_URL}}beers_alt/css/style.css" type="text/css" media="screen"/>
    {% block script %}{% endblock %}
  </head>
  <body>
    <h1><img src="{{STATIC_URL}}beers_alt/img/logo.png" height="300" width="300" style="float:right"/> CrowdCon</h1>
    <hr/>
    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    <div id="content">{% block content %}{% endblock %}</div>
    <hr/>
  </body>
</html>
