{% extends "beers_alt/base.html" %}

{% block heading %}Event Information: {{event.title}}{% endblock %}

{% block content %}

<p>
Event Title: {{event.title}}<br/>
Date: {{event.date}}<br/>
Time: {{event.time}}<br/>
Location: {{event.location}}<br/>
Description: {{event.description}}<br/>
</p>

<p class="sign-up"> <a href="/beers_alt/bring-ingredient" style="color:#ff6666">Bring An Ingredient</a></p></td>
<p class="add"> <a href="/beers_alt/add-ingredient" style="color:#ff6666">Add An Ingredient</a></p></td>
<p class="invite"> <a href="/beers_alt/invite-form" style="color:#ff6666">Invite a Friend</a></p></td>

<p> <B>Items: </b>
  <table style="width:95%">
    <tr align = left><th>Ingredient</th> <th>Unit Info</th> <th>Comments</th>
      {% for title, eid1, ingredient_id, eid2, name, quantity, units, comments, bringing, person in ingredient %}
        <tr>
          <td>{{name}}</td>
          <td><b>{{person}}</b> is bringing <b>{{bringing}}</b> of the <b>{{quantity}}</b> {{units}} requested!</td>
          <td>{{comments}}</td>
        </tr>
        {% endfor %}
      </table>
</p>

{% endblock %}
