{% extends "beers_alt/base.html" %}


{% block content %}
<div>
	<div style="text-align: right;">
		<ul style="list-style-type: none;">
			<li>User Name: {{userinfo}}</li>
			<li><a href="http://www.google.com">Profile Settings</a></li>
		</ul>
	</div>
	<h3>Home Page</h3>
	<div>
		<ul style="list-style-type: none;">
			<li><a href="http://www.google.com">Create Event</a></li>
			<li><b>My Future Events</b></li>
			<li>
				<ul>
					{% for GRANT in FutureEvents %}
						<li> {{GRANT}} </li>
					{% endfor %}
				</ul>
			</li>
			<li><b>My Past Events</b></li>
			<li>
				<ul>
					{% for GRANT in PastEvents %}
						<li> {{GRANT}} </li>
					{% endfor %}
				</ul>
			</li>
		</ul>


</div>

{% endblock %}