{% extends "beers_alt/base.html" %}

{% block heading %}Edit Drinker Information: {{drinker.name}}{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

<form method="post" action="{% url 'beers_alt.views.edit_drinker_submit' drinker_name=drinker.name %}">
{% csrf_token %}
<input type="hidden" name="name" value="{{drinker.name}}"/>
Address: <input type='text' name='address' value='{{drinker.address}}' size='20' maxlength='20'/><br/>
Beer(s) liked:
{% for beer, liked in beersLiked %}
    {% if liked %}
        <input type='checkbox' name='BeersLiked' value='{{beer.name}}' checked/>{{beer.name}}
    {% else %}
        <input type='checkbox' name='BeersLiked' value='{{beer.name}}'/>{{beer.name}}
    {% endif %}
{% endfor %}
<br/>
Bar(s) frequented (times a week):
<ul>
{% for bar, times_a_week in barsFrequented %}
    <li>{{bar.name}} <input type='text' name='BarsFrequented/{{bar.name}}' value='{{times_a_week}}' size='1' maxlength='2'/></li>
{% endfor %}
</ul>
<input type="reset" value="Reset"/>
<input type="submit" value="Submit Update"/>
</form>

{% endblock %}
